 
fieldset {
	background: lightyellow;
	width: 720px;
	margin-bottom:10px;
	border: 10px solid yellow;
}
#preview {
	height: 10%;
	width: 10%;
	
}
label{
	width: 180px;
	display: inline-block;
	text-align: right;	
	float: top;	
}
.radio{
	width: auto;
	text-align: left;
}
.checkbox{
	width: auto;
	text-align: left;	
}
.short{
	 background: brown;	 
}
.salary{
	background:purple;	
}
.short, .salary{
	text-align: center;
	color: white;
	width: 45px;
	display: inline-block;
}
.textarea{
	width: 360px;
	height: 50px;
	vertical-align: top;
}
p{background:red;
display: inline-block;
width: 40px;
padding: 2px;
}